@import "bootstrap/scss/bootstrap";
@import "./Projects.scss";
@import "./OffcanvasView.scss";
@import "./Navbar.scss";
@import "./Homepage.scss";
@import "./About.scss";
@import "./Contact.scss";
@import "./Footer.scss";
@import "./Resume.scss";
@import "./DarkMode.scss";


// Fonts
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    padding-left: 10px;
    color: #06223e;
}

.container {
    max-width: 900px;
}

#App {
    min-height: 100vh;
    background-attachment: fixed;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #06223e; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }