.contact-page {
    .col {
        width: 80%;

        a {
            color: #5a5a5a;
            font-family: 'Outfit', sans-serif;
            text-decoration: none;
        }

        .card {
            border: none;
            background-color: transparent;

            .card-body {
                p {
                    font-family: 'Poppins', sans-serif;
                    color: #5a5a5a;
                }

                .btn {
                    background-color: #6e8195;
                    border: none;
                    border-radius: 3px;
                }
            }
        }

        .form-control {
            border: 1px solid #eaeaea;

            &::placeholder {
                font-family: 'Poppins', sans-serif;
                font-weight: 300;
                color: #a5a5a5;
            }

            &:focus {
                box-shadow: none;
                background-color: #eaeaea;
            }

        }
    }
}

@media only screen and (max-width: 600px) {
    .contact-page {
        .col {
            width: 100%;
        }
    }
}