#App {
    transition: all 0.3s linear 0s;
}

.bg-dark,
.dark-offcanvas {
    background-color: #020a13 !important;
    transition: all 0.3s linear 0s;

    p,
    h3 {
        color: #c6c6c6;
    }

    .h5 {
        color: #3f566e;
    }

    .offcanvas-header {
        border-bottom: 1px solid #14202b;
    }

    svg {
        color: #3f566e;
    }

    .offcanvas-body {

        p,
        h3,
        h4 {
            color: #c6c6c6;
        }
    }

    .project-footer {
        background-color: #0f1f2f;
    }

    .navbar-brand {
        color: #c6c6c6;
    }

    .resume-page {
        p {
            color: #c6c6c6;
        }
    }

    .footer {
        svg {
            fill: #c6c6c6;
        }
    }

    .contact-page {
        a {
            color: #c6c6c6;
        }

        .card-body {
            .btn {
                background-color: #0f1f2f !important;
                color: #c6c6c6;
            }

            p {
                color: #c6c6c6 !important;
            }
        }
    }

    .form-control {
        background-color: transparent;
        border: 1px solid #c6c6c6 !important;
    }

    input,
    textarea {
        &:focus {
            background-color: #0f1f2f !important;
            color: #c6c6c6;
        }

        &::placeholder {
            color: #c6c6c6 !important;
        }
    }

    h1 {
        color: #c6c6c6;
    }

    .nav-link {
        color: #c6c6c6;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23c6c6c6' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .toggle-theme-btn {
        svg {
            fill: #c6c6c6;
        }
    }
}