.footer {
    bottom: 0;

    .container {
        padding-bottom: 4rem;

        svg {
            width: 20px;
            height: 25px;
            margin: 0 10px 0 10px;
            fill: #06223e;
        }
    }
}