.resume-page {

    a {
        text-decoration: none;

        p {
            font-family: 'Outfit', sans-serif;
            color: black;
        }
    }

    .resume {
        img {
            width: 100%;
        }
    }
}